body {
  background-color: rgb(46, 44, 44);
  font-family: "Glory", sans-serif;
  border: 0.2rem solid rgb(69, 116, 97);
  border-radius: 1rem;
  height: 100%;
  margin: 2% 7% 7% 7%;
}

#search-box {
  font-size: 2rem;
  font-family: "Glory", sans-serif;
  color: rgb(175, 178, 180);
}

h2,
h1 {
  font-family: "Glory", sans-serif;
}

.text-center {
  font-size: 3rem;
  font-family: "Glory", sans-serif;
  color: aliceblue;
  text-align: center;
}

#header {
  font-size: 5rem;
  font-family: "Glory", sans-serif;
  color: aliceblue;
}

.bookCard {
  background-color: rgb(208, 208, 206);
  border-radius: 2rem;
  flex-direction: row;
  padding: 1rem;
  margin-bottom: 2%;
}

#introQuote {
  font-size: 2rem;
  font-family: "Glory", sans-serif;
  color: rgb(175, 178, 180);
}

#saidBy {
  font-size: 1rem;
  font-family: "Glory", sans-serif;
  color: rgb(175, 178, 180);
  font-weight: bold;
}

#book-list {
  margin-top: 50px;
  display: none;
  font-family: "Glory", sans-serif;
}

.bookAuthor {
  font-size: 1.3rem;
  font-family: "Glory", sans-serif;
  color: rgb(34, 35, 36);
  font-weight: bold;
}

.bookTitle {
  font-size: 2rem;
  font-family: "Glory", sans-serif;
  color: rgb(34, 35, 36);
  font-weight: bold;
}

.cardImage {
  /* max-width: 20%;
  height: auto; */

  box-shadow: 0px 0px 2rem rgb(178, 174, 174);
  border-radius: 0.6rem;

  
}

.image_div{
  vertical-align: middle;
  text-align: middle;
  margin: 6% 2% 2% 2%;
}

#block_container {
  display: flex;
  justify-content: center;
  text-align: middle;
}

#introImage {
  width: 30%;
}

#nothingImage {
  vertical-align: middle;
  width: 50%;
  
}

.animation {
  margin-top: 60px;
  animation-duration: 1000ms;
  transition-duration: 1000ms;
}
