body {
  background-color: rgb(46, 44, 44);
  font-family: 'Glory', sans-serif;
  border: 0.2rem solid rgb(69, 116, 97);
  border-radius: 1rem;
  height: 100%;
  margin: 2% 7% 7% 7%;
}

#search-box {
  font-size: 2rem;
  font-family: 'Glory', sans-serif;
  color: rgb(175, 178, 180);
}

h2,
h1 {
  font-family: 'Glory', sans-serif;
}

.text-center {
  font-size: 3rem;
  font-family: 'Glory', sans-serif;
  color: aliceblue;
  text-align: center;
}

#header {
  font-size: 5rem;
  font-family: 'Glory', sans-serif;
  color: aliceblue;
}

.bookCard {
  background-color: rgb(208, 208, 206);
  border-radius: 2rem;
  flex-direction: row;
  padding: 1rem;
  margin-bottom: 5%;
  transition-delay: 1s;
  transition: transform 1s ease-out;
}

#introQuote {
  font-size: 2rem;
  font-family: 'Glory', sans-serif;
  color: rgb(175, 178, 180);
}

#saidBy {
  font-size: 1rem;
  font-family: 'Glory', sans-serif;
  color: rgb(175, 178, 180);
  font-weight: bold;
}

#book-list {
  margin-top: 50px;
  display: none;
  font-family: 'Glory', sans-serif;
}

.bookAuthor {
  font-size: 1.3rem;
  font-family: 'Glory', sans-serif;
  color: rgb(34, 35, 36);
  font-weight: bold;
}

.bookTitle {
  font-size: 2rem;
  font-family: 'Glory', sans-serif;
  color: rgb(34, 35, 36);
  font-weight: bold;
}

.cardImage {
  max-height: 110%;
  box-shadow: 0px 0px 2rem rgb(178, 174, 174);
  border-radius: 0.6rem;
}

p {
  font-size: 1.25rem;
  font-family: 'Glory', sans-serif;
  color: rgb(34, 35, 36);
}

.bookCard:hover {
  transform: scale(1.1);
  box-shadow:        
  inset 0 -3em 3em rgba(0,0,0,0.1),
  0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.image_div {
  vertical-align: middle;
  text-align: middle;
  margin: 6% 2% 2% 2%;
}

#block_container {
  display: flex;
  text-align: middle;
}

#introImage {
  width: 30%;
}

#nothingImage {
  vertical-align: middle;
  width: 50%;
}

::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  background: #393e46;
}

::-webkit-scrollbar-thumb {
  background: #eeeeee;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#preyDiv {
  /* display: flex; */
  text-align: center;
  margin-bottom: 10%;
}

.preyImg {
  vertical-align: middle;
  height: 10%;
  width: 10%;
  margin: 0 auto;
}

.brokenImage {
  width: 128px;
  height: 169;
}

#header {
  color: rgb(255, 182, 46);
}
